@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


/*! * tüm html etiketlerine bağlanmamızı sağlar */
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

/*! * css de değişkenler root */

:root{
    --main-color:rgb(206, 163, 163);
    --black-color:rgb(27, 26, 26);
    --border:0.1rem solid rgba(255,255,255);
}

/*! * html base kodlar, % denilirse 1 ram 10px olur */

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(247, 237, 225);
    height: 13rem;
}

/*! * sağdan soldan eşit olsun diye */
section{
    padding: 0 7%;
}


.header .logo img{
    height: 8rem;
}

.header{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 20rem;
    position: sticky;
    top: 0;
}


.header .navbar a{
    margin: 0 1rem;
    font-size: 1.8rem;
    color: black;
}



.header .navbar a:hover{
    border-color:  rgb(255, 254, 252);
    padding-bottom: 0.5rem;
}

.header .buttons button{
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 2rem;
    background-color: transparent;
}

.home{
    min-height: 100vh;
    background: url(img/13.jpg)
    no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
}

/*!  margin-top: -14.5rem; = tam foto olsun diye */

.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 10px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.item img{
    width: 60%;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
    padding: 10px 10px;
    border-radius: 10px;
}

.item h2{
    padding: 8px;
    text-align: center;
}

.item button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: rgb(175, 175, 240);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}

.item button:hover{
    transform: scale(1.2rem);
}

body{
    background: #eef8ff;
}

footer{
    width: 100%;
    position: absolute; 
    bottom: 10;
    background: linear-gradient(to right,#576ffc,#6d1b00);
    color: #fff;
    padding: 35px 0 1px;
    border-top-left-radius: 0px;
    font-size: 15px;
    line-height: 2px;
}

.row{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 16%;
    padding: 5px;
}

.col:nth-child(2),.col:nth-child(3){
    flex-basis: 14%;
}

.logo{
    width: 100px;
    margin-bottom: 20px;
}

.col h3{
    width: relative;
    margin-bottom: 30px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 30px 5;
}

ul li{
    list-style: none;
    margin-bottom: 30px;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
}

form{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid #ccc;
    margin-bottom: 30px;
}

form .far{
    font-size: 18px;
    margin-right: 10px;
}

form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas{
    font-size: 10px;
    color: #ccc;
}

.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
